* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif serif;
  background-color: #1c1542;
  height: 100vh;
}

body .container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

header {
  background-color: #110D26;
}

header .header_container {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* anime one
            */
}

header .header_container .box {
  display: none;
  width: 50px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  background-color: #110D26;
  top: 5px;
}

header .header_container .container-lignes {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

header .header_container .ligne {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 3px;
  background: white;
}

header .header_container .box .ligne:nth-child(1) {
  top: 0px;
}

header .header_container .box .ligne:nth-child(2) {
  top: 15px;
}

header .header_container .box .ligne:nth-child(3) {
  top: 30px;
}

header .header_container .box .ligne:nth-child(1),
header .header_container .ligne:nth-child(3) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: top 0.4s 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: top 0.4s 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, top 0.4s 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, top 0.4s 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

header .header_container .box .ligne:nth-child(2) {
  -webkit-transition: opacity 0.4s 0.4s ease-in-out;
  transition: opacity 0.4s 0.4s ease-in-out;
}

header .header_container .box.active .ligne:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
  transition: top 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
}

header .header_container .box.active .ligne:nth-child(2) {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

header .header_container .box.active .ligne:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
  transition: top 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
}

header .header_container img {
  width: 80px;
  height: 80px;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  cursor: pointer;
}

header .header_container ul {
  list-style: none;
  position: relative;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_container ul li a {
  color: white;
  text-decoration: none;
  padding: 0px 17px;
  font-size: 1.8rem;
  opacity: 0.7;
}

header .header_container ul li i {
  color: white;
  opacity: 0.7;
  cursor: pointer;
  font-size: large;
}

header .header_container ul li a:hover,
header .header_container ul li i:hover {
  opacity: 1;
}

header .header_container ul ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  display: none;
  top: 40px;
  height: auto;
  width: 250px;
  background-color: #e2e0e0;
  color: white;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

header .header_container ul ul li a {
  color: black;
  display: block;
  width: 100%;
  padding: 8px 12px;
  text-align: center;
  font-size: larger;
  font-family: serif;
}

header .header_container ul ul li a:hover {
  background-color: #110D26;
  color: #fff9f9;
}

header .header_container ul ul li {
  border: 1px solid #110D26;
}

header .header_container .acces .btn_connexion,
header .header_container .acces .btn_inscription {
  border-radius: 17px;
  padding: 8px 25px;
  border: 2px solid white;
  cursor: pointer;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

header .header_container .acces .btn_connexion {
  background-color: transparent;
  color: white;
  font-size: large;
  margin-right: 10px;
}

header .header_container .acces .btn_connexion:hover {
  background-color: #e4dcdc;
  color: #110D26;
  -webkit-animation-name: btn;
          animation-name: btn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

header .header_container .acces .btn_inscription {
  background-color: white;
  color: #110D26;
  font-size: large;
}

header .header_container .acces .btn_inscription:hover {
  background-color: #47464d;
  color: white;
  -webkit-animation-name: btn;
          animation-name: btn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

main {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main_container {
  width: 75%;
  height: 100%;
}

main .main_container h2 {
  color: white;
  padding-left: 1rem;
  width: auto;
}

main .main_container .titre {
  border: 1px solid white;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main_container .titre h1 {
  color: white;
  font-weight: bold;
}

main .main_container .bloc_btc {
  padding-top: 2rem;
  color: white;
}

main .main_container .bloc_btc #btc {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
  padding: 0 6px 0 16px;
  padding-top: 1rem;
}

main .main_container .bloc_btc .text_btc ul {
  display: inline-block;
  padding-left: 2rem;
}

main .main_container .bloc_btc .text_btc p,
main .main_container .bloc_btc .text_btc h3 {
  padding: 1rem;
}

main .main_container .bloc_btc .bloc_bnb #bnb {
  width: 25%;
  height: 25%;
  float: right;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
  padding-top: 1rem;
}

main .main_container h2 {
  border: 1px solid white;
}

main .main_container .bloc_nft .text_nft {
  color: white;
  padding-left: 1rem;
}

main .main_container .bloc_nft .text_nft p {
  padding: 1rem;
}

main .main_container .bloc_nft .text_nft h3 {
  text-align: center;
  padding-bottom: 1rem;
}

main .main_container .bloc_nft .text_nft .table_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: auto;
  padding-bottom: 1rem;
}

main .main_container .bloc_nft .text_nft .table_top table tr:nth-child(even) {
  background-color: white;
  color: #1c1542;
}

main .main_container .bloc_nft .text_nft .table_top table tr,
main .main_container .bloc_nft .text_nft .table_top table th,
main .main_container .bloc_nft .text_nft .table_top table td {
  border: 1px solid white;
  text-align: center;
  padding: 8px;
}

main .main_container .bloc_nft .text_nft .table_top table tr a,
main .main_container .bloc_nft .text_nft .table_top table th a,
main .main_container .bloc_nft .text_nft .table_top table td a {
  color: #42C2FF;
  text-decoration: none;
}

main .main_container .bloc_nft .text_nft .table_top table tr a:hover,
main .main_container .bloc_nft .text_nft .table_top table th a:hover,
main .main_container .bloc_nft .text_nft .table_top table td a:hover {
  text-decoration: underline;
}

main .main_container .bloc_nft .text_nft .nft_marquant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

main .main_container .bloc_nft .text_nft .nft_marquant ol {
  padding-left: 30px;
}

main .main_container .bloc_nft .text_nft .nft_marquant ol li a {
  text-decoration: none;
  color: white;
}

main .main_container .bloc_nft .text_nft .nft_marquant ol li {
  padding: 1rem 0px;
  border: 1px solid white;
}

main .main_container .bloc_nft .text_nft .nft_marquant div {
  border: 1px solid red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 380px 380px;
      grid-template-columns: 380px 380px;
  width: 60%;
}

main .main_container .bloc_nft .text_nft .nft_marquant div div {
  border: 1px solid white;
  width: 50%;
}

main .main_container .bloc_nft .text_nft .nft_marquant div div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .main_container .bloc_metavers .text_metavers {
  color: white;
  margin-left: 1rem;
}

main .main_container .bloc_metavers .text_metavers p {
  padding: 1em;
}

footer {
  background-color: red;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes btn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes btn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 980px) {
  header {
    color: black;
  }
  header .header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header_container ul {
    position: absolute;
    top: 0px;
    height: 66rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: #110D26;
  }
  header .header_container ul .fa-angle-down {
    display: none;
  }
  header .header_container ul .fa-angle-down ul,
  header .header_container ul li ul {
    visibility: hidden;
  }
  header .header_container .acces {
    position: absolute;
    width: 100%;
    padding-bottom: 1rem;
    top: 66rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header_container .acces .btn_connexion {
    margin-right: 2rem;
    display: none;
  }
  header .header_container .acces .btn_inscription {
    display: none;
  }
  header .header_container .box {
    display: block;
    z-index: 1;
  }
  header .header_container .logo {
    z-index: 1;
  }
  header .header_container .logo img {
    width: 50px;
    height: 50px;
  }
  main .main_container .titre_metavers {
    margin-top: 0.7rem;
  }
  .open .liste {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 1.2s;
    transition: 1.2s;
  }
}
/*# sourceMappingURL=style.css.map */