* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #202020;
  height: 100vh;
}

main .crypto_container {
  font-family: 'Montserrat', Arial;
  height: 100%;
  background-color: #1b1a1a;
  color: #fdf4f4;
  width: 100%;
}

main .crypto_container .blockchain .partieUne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .crypto_container .blockchain .partieUne .image_btc {
  width: 45%;
}

main .crypto_container .blockchain .partieUne .image_btc img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 3px 10px #C29224;
          box-shadow: 0px 3px 10px #C29224;
}

main .crypto_container .blockchain .partieUne .definition {
  width: 45%;
}

main .crypto_container .blockchain .partieUne .definition p,
main .crypto_container .blockchain .partieUne .definition ul {
  font-size: x-large;
  padding: 0.7rem;
}

main .crypto_container .blockchain .partieUne .definition ul {
  padding-left: 2.5rem;
}

main .crypto_container .blockchain .partieUne .definition h3 {
  font-size: xx-large;
  padding: 1rem;
}

main .crypto_container .blockchain .text_btc {
  padding: 0 15%;
}

main .crypto_container .blockchain .text_btc p,
main .crypto_container .blockchain .text_btc h3,
main .crypto_container .blockchain .text_btc ul {
  padding: 1rem;
}

main .crypto_container .blockchain .text_btc p,
main .crypto_container .blockchain .text_btc ul {
  font-size: larger;
}

main .crypto_container .blockchain .text_btc h3 {
  font-size: x-large;
  text-align: center;
}

main .crypto_container .bloc_bnb .partieDeux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .crypto_container .bloc_bnb .partieDeux .image_bnb {
  width: 45%;
}

main .crypto_container .bloc_bnb .partieDeux .image_bnb img {
  width: 100%;
}

main .crypto_container .bloc_bnb .partieDeux .definitionDeux {
  width: 45%;
}

main .crypto_container .bloc_bnb .partieDeux .definitionDeux p {
  font-size: x-large;
}

main .crypto_container .bloc_bnb .text_bnb {
  padding: 0 15%;
}

main .crypto_container .bloc_bnb .text_bnb p,
main .crypto_container .bloc_bnb .text_bnb h3,
main .crypto_container .bloc_bnb .text_bnb ul {
  padding: 0.8rem;
}

main .crypto_container .bloc_bnb .text_bnb p,
main .crypto_container .bloc_bnb .text_bnb ul {
  font-size: larger;
}

main .crypto_container .bloc_bnb .text_bnb h3 {
  font-size: x-large;
  text-align: center;
}

main .crypto_container .bloc_defi .partieTrois {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .crypto_container .bloc_defi .partieTrois .image_defi, main .crypto_container .bloc_defi .partieTrois .definitionTrois {
  width: 45%;
}

main .crypto_container .bloc_defi .partieTrois .image_defi img, main .crypto_container .bloc_defi .partieTrois .definitionTrois img {
  width: 100%;
  -webkit-box-shadow: 0 3px 10px #18A284;
          box-shadow: 0 3px 10px #18A284;
}

main .crypto_container .bloc_defi .partieTrois .definitionTrois p {
  font-size: x-large;
}

main .crypto_container .bloc_defi .texte_defi {
  padding: 0 15%;
}

main .crypto_container .bloc_defi .texte_defi p,
main .crypto_container .bloc_defi .texte_defi h3,
main .crypto_container .bloc_defi .texte_defi ul {
  padding: 1rem;
}

main .crypto_container .bloc_defi .texte_defi p,
main .crypto_container .bloc_defi .texte_defi ul {
  font-size: larger;
}

main .crypto_container .bloc_defi .texte_defi h3 {
  font-size: x-large;
  text-align: center;
}

main .crypto_container .bloc_defi .texte_defi ul {
  padding-left: 2rem;
}

main .crypto_container .bloc_meme .partieQuatre .image_shiba {
  padding: 1rem;
  width: 25%;
  float: left;
  padding: 1rem;
  border-radius: 50%;
  shape-outside: circle();
}

main .crypto_container .bloc_meme .partieQuatre .image_shiba img {
  width: 100%;
  shape-outside: circle();
}

main .crypto_container .bloc_meme .partieQuatre .texte_meme {
  padding: 1rem;
}

main .crypto_container .bloc_meme .partieQuatre .texte_meme p {
  font-size: larger;
  padding: 0.5rem;
}

main .crypto_container .bloc_minage .partieCinq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  justify-content: space-around;
}

main .crypto_container .bloc_minage .partieCinq .image_minage {
  width: 45%;
}

main .crypto_container .bloc_minage .partieCinq .image_minage img {
  width: 100%;
}

main .crypto_container .bloc_minage .partieCinq .definitionCinq {
  width: 45%;
}

main .crypto_container .bloc_minage .partieCinq .definitionCinq p {
  font-size: xx-large;
}

main .crypto_container .bloc_minage .texte_minage {
  padding: 0 15%;
}

main .crypto_container .bloc_minage .texte_minage p,
main .crypto_container .bloc_minage .texte_minage h3,
main .crypto_container .bloc_minage .texte_minage h4 {
  padding: 1rem;
}

main .crypto_container .bloc_minage .texte_minage p,
main .crypto_container .bloc_minage .texte_minage h4 {
  font-size: larger;
}

main .crypto_container .bloc_minage .texte_minage h3 {
  font-size: x-large;
  text-align: center;
}
/*# sourceMappingURL=crypto.css.map */