* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    .metaver_container {
        font-family: 'Montserrat', Arial;
        height: 100%;
        background-color: rgb(27, 26, 26);
        color: rgb(253, 244, 244);
        width: 100%;
        .bloc_metavers {
            .partieUne {
                @include flex();
                .image_metavers {
                    width: 45%;
                    img {
                        width: 100%;
                        object-fit: cover;
                        box-shadow: 0px 3px 10px #E0E022;
                        border-radius: 10px;
                    }
                }
                .definition {
                    width: 45%;
                    p {
                        font-size: xx-large;
                        padding: 0.5rem;
                    }
                }
            }
            .texte_metavers {
                padding: 0 15%;
                p {
                    padding: 1rem;
                    font-size: x-large;
                }
            }
            .meta {
                @include flex();
                .image_meta {
                    width: 45%;
                    img {
                        width: 100%;
                        float: left;
                    }
                }
                .texte_meta {
                    width: 45%;
                    p {
                        font-size: larger;
                        padding: 1rem;
                    }
                }
            }
        }
    }
}