* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin radius {
    border-radius: 17px;
    padding: 8px 25px;
    border: 2px solid white;
}

body {
    background-color: rgb(27, 26, 26);
}

main {
    .communaute_container {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(27, 26, 26);
        display: grid;
        grid-template-columns: 1fr 40%;
        color: white;
        .analyse_container {
            border-radius: 17px;
            padding: 16px;
            background-color: rgb(10, 10, 10);
            margin: 1rem;
        }
        .partage {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgb(32, 32, 32);
            .technique,
            .fondamentale {
                width: fit-content;
                margin-bottom: 1rem;
                @include radius();
                font-size: small;
                flex-wrap: wrap;
            }
        }
    }
}


/*
@media screen and (max-width:864) {
    main {
        .communaute_container {
            .partage {
                .technique {
                    padding: 0;
                }
            }
        }
    }
}
*/