* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif serif;
  background: black;
  height: 100vh;
}

body .container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

header {
  background-color: #110D26;
  /*
    .div_essaie {
        border: 1px solid white;
        position: absolute;
        left: 180px;
        width: 195px;
        height: 190px;
        ul {
            list-style: none;
            width: 100%;
        }
    }
    */
}

header .header_container {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .header_container .bars {
  display: none;
  font-size: 2rem;
}

header .header_container img {
  width: 80px;
  height: 80px;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  cursor: pointer;
}

header .header_container ul {
  list-style: none;
  position: relative;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_container ul li a {
  color: white;
  text-decoration: none;
  padding: 0px 17px;
  font-size: 1.8rem;
  opacity: 0.7;
}

header .header_container ul li i {
  color: white;
  opacity: 0.7;
  cursor: pointer;
  font-size: large;
}

header .header_container ul li a:hover,
header .header_container ul li i:hover {
  opacity: 1;
}

header .header_container ul ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  display: none;
  top: 40px;
  height: auto;
  width: 250px;
  background-color: #e2e0e0;
  color: white;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

header .header_container ul ul li a {
  color: black;
  display: block;
  width: 100%;
  padding: 8px 12px;
  text-align: center;
  font-size: larger;
  font-family: serif;
}

header .header_container ul ul li a:hover {
  background-color: #110D26;
  color: #fff9f9;
}

header .header_container ul ul li {
  border: 1px solid #110D26;
}

header .header_container .acces .btn_connexion,
header .header_container .acces .btn_inscription {
  border-radius: 17px;
  padding: 8px 25px;
  border: 2px solid white;
  cursor: pointer;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

header .header_container .acces .btn_connexion {
  background-color: transparent;
  color: white;
  font-size: large;
  margin-right: 10px;
}

header .header_container .acces .btn_connexion:hover {
  background-color: #e4dcdc;
  color: #110D26;
  -webkit-animation-name: btn;
          animation-name: btn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

header .header_container .acces .btn_inscription {
  background-color: white;
  color: #110D26;
  font-size: large;
}

header .header_container .acces .btn_inscription:hover {
  background-color: #47464d;
  color: white;
  -webkit-animation-name: btn;
          animation-name: btn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

main {
  margin: 1rem;
}

main .main_container {
  height: 100%;
}

main .main_container .bloc_btc {
  border: 1px solid black;
}

main .main_container .bloc_btc #btc {
  margin: 1rem;
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 5px 1px #110D26;
          box-shadow: 5px 1px #110D26;
  float: left;
}

main .main_container .bloc_btc p {
  color: white;
  margin: 1rem;
}

main .main_container .bloc_btc h3 + ul {
  display: inline-block;
}

main .main_container .bloc_btc p + h3 {
  color: white;
  margin: 1rem;
}

main .main_container .bloc_btc h3 + ul,
main .main_container .bloc_btc h3 + ul + h3 {
  color: white;
  margin: 1rem;
  list-style-type: square;
}

footer {
  background-color: red;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes btn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes btn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 980px) {
  header {
    color: black;
  }
  header .header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header_container ul {
    position: absolute;
    top: 0px;
    height: 66rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #110D26;
  }
  header .header_container .acces {
    position: absolute;
    background-color: #110D26;
    width: 100%;
    padding-bottom: 1rem;
    top: 66rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header_container .acces .btn_connexion {
    margin-right: 2rem;
  }
  header .header_container ul,
  header .header_container .acces {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  header .header_container .bars {
    color: white;
    cursor: pointer;
    position: relative;
    display: block;
    right: 5px;
    border-style: s;
    z-index: 1;
  }
  header .header_container .logo {
    z-index: 1;
  }
  header .header_container .logo img {
    position: relative;
    left: 5px;
    width: 50px;
    height: 50px;
  }
  main .main_container .bloc_btc #btc {
    width: 120px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=style.css.map */