* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #070320;
}

body .container_connexion {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container_connexion form {
  width: 40%;
  height: 60%;
}

body .container_connexion form .container_formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container_connexion form .container_formulaire .div_image, body .container_connexion form .container_formulaire .div_formulaire {
  height: 100%;
  width: 50%;
  background-color: #18152A;
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container_connexion form .container_formulaire .div_image img, body .container_connexion form .container_formulaire .div_formulaire img {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container_connexion form .container_formulaire .div_formulaire {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #18152A;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .container_connexion form .container_formulaire .div_formulaire input {
  border: 1px solid #383737;
  margin-top: 8px;
  padding: 3px 0;
  font-size: larger;
  background-color: #18152A;
  color: white;
}

body .container_connexion form .container_formulaire .div_formulaire label {
  color: white;
  opacity: 0.7;
  font-size: 1.5rem;
}

body .container_connexion form .container_formulaire .div_formulaire label:hover {
  opacity: 1;
}

body .container_connexion form .container_formulaire .div_formulaire button {
  padding: 12px 25px;
  border-radius: 22px;
  border: 1px solid white;
  color: white;
  font-size: larger;
  background-color: #18152A;
  cursor: pointer;
}

body .container_connexion form .container_formulaire .div_formulaire button:hover {
  background-color: white;
  color: #18152A;
}

body .container_connexion form .container_formulaire .div_formulaire ::-webkit-input-placeholder {
  opacity: 0.5;
  color: white;
}

body .container_connexion form .container_formulaire .div_formulaire :-ms-input-placeholder {
  opacity: 0.5;
  color: white;
}

body .container_connexion form .container_formulaire .div_formulaire ::-ms-input-placeholder {
  opacity: 0.5;
  color: white;
}

body .container_connexion form .container_formulaire .div_formulaire ::placeholder {
  opacity: 0.5;
  color: white;
}

@media screen and (max-width: 1043px) {
  body .container form {
    width: 500px;
  }
  body .container form .container_formulaire {
    width: 100%;
  }
  body .container form .container_formulaire .div_image img, body .container .container_connexion form .container_formulaire .div_formulaire img, body .container_connexion .container form .container_formulaire .div_formulaire img {
    height: 150px;
    width: 90px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .container form .container_formulaire .div_formulaire input {
    width: 9rem;
  }
}
/*# sourceMappingURL=connexion.css.map */