* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nft_container {
  width: 100%;
  font-family: 'Montserrat', Arial;
  background-color: #0C091C;
  color: #fdf4f4;
}

.nft_container .bloc_nft {
  width: 100%;
}

.nft_container .bloc_nft .partie_nft {
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nft_container .bloc_nft .partie_nft .image_nft {
  width: 40%;
}

.nft_container .bloc_nft .partie_nft .image_nft img {
  -webkit-box-shadow: 0px 3px 10px #FFFB88;
          box-shadow: 0px 3px 10px #FFFB88;
  width: 100%;
  border-radius: 10px;
}

.nft_container .bloc_nft .partie_nft .image_nft:hover,
.nft_container .bloc_nft .partie_nft .definition_nft:hover {
  -webkit-box-shadow: 0 5px 8px 0 #FFFB88;
          box-shadow: 0 5px 8px 0 #FFFB88;
}

.nft_container .bloc_nft .partie_nft .definition_nft {
  width: 40%;
}

.nft_container .bloc_nft .partie_nft .definition_nft p {
  font-size: larger;
  padding: 1.5rem;
}

.nft_container .bloc_nft .texte_nft {
  padding: 0 15%;
  margin-bottom: 5rem;
}

.nft_container .bloc_nft .texte_nft p {
  padding: 1rem;
  font-size: large;
}

.nft_container h3 {
  text-align: center;
}

.nft_container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nft_container .top .nft_marquant {
  width: 45%;
  margin-bottom: 5rem;
}

.nft_container .top .nft_marquant ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 30px;
}

.nft_container .top .nft_marquant ol li {
  padding: 0.5rem 0;
}

.nft_container .top .gallerie {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[auto];
      grid-template-rows: repeat(auto, 1fr);
  grid-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  width: 60%;
  margin-bottom: 5rem;
}

.nft_container .top .gallerie img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nft_container .top .gallerie .img1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.nft_container .top .gallerie .img2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.nft_container .top .gallerie .img3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  grid-column: -8/-6;
}

.nft_container .top .gallerie .img4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  grid-column: -4/-1;
}

.nft_container .top .gallerie .img5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: -6/-3;
}

.nft_container .top .gallerie .img6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  grid-column: -11/-8;
}

.nft_container .top .gallerie .img7 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: -10/-6;
}

.nft_container .top .gallerie .img8 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}

.nft_container .top .gallerie .img9 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  grid-column: -6/-4;
}

.nft_container .top .gallerie .img10 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7/11;
}

.nft_container .table_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  padding-bottom: 1rem;
}

.nft_container .table_top table tr:nth-child(even) {
  background-color: white;
  color: #1B1A1A;
}

.nft_container .table_top table tr,
.nft_container .table_top table th,
.nft_container .table_top table td {
  border: 1px solid white;
  text-align: center;
  padding: 8px;
}

.nft_container .table_top table tr a,
.nft_container .table_top table th a,
.nft_container .table_top table td a {
  color: gray;
  text-decoration: none;
}

.nft_container .table_top table tr a:hover,
.nft_container .table_top table th a:hover,
.nft_container .table_top table td a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 666px) {
  .nft_container {
    width: 100%;
  }
  .nft_container .bloc_nft {
    width: 100%;
  }
  .nft_container .bloc_nft .partie_nft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nft_container .bloc_nft .partie_nft .image_nft {
    padding: 0 0.5rem;
  }
  .nft_container .bloc_nft .partie_nft .image_nft,
  .nft_container .bloc_nft .partie_nft .definition_nft {
    width: 90%;
  }
  .nft_container .bloc_nft .texte_nft {
    padding: 0 4%;
  }
  .nft_container .bloc_nft .texte_nft p {
    padding: 0.7rem;
  }
  .nft_container .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .nft_container .top .nft_marquant,
  .nft_container .top .gallerie {
    width: 90%;
  }
  .nft_container .top .gallerie {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
    -ms-grid-rows: (1fr)[auto];
        grid-template-rows: repeat(auto, 1fr);
    grid-gap: 3px;
    padding: 3px;
    margin-bottom: 5rem;
  }
  .nft_container .top .gallerie img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nft_container .top .gallerie .img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .nft_container .top .gallerie .img2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .nft_container .top .gallerie .img3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    grid-column: -8/-6;
  }
  .nft_container .top .gallerie .img4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    grid-column: -4/-1;
  }
  .nft_container .top .gallerie .img5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    grid-column: -6/-3;
  }
  .nft_container .top .gallerie .img6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    grid-column: -11/-8;
  }
  .nft_container .top .gallerie .img7 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    grid-column: -10/-6;
  }
  .nft_container .top .gallerie .img8 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  .nft_container .top .gallerie .img9 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    grid-column: -6/-4;
  }
  .nft_container .top .gallerie .img10 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7/11;
  }
  .nft_container .top .nft_marquant ol {
    padding-left: 28px;
  }
  .nft_container td {
    padding: 5px;
  }
}
/*# sourceMappingURL=nft.css.map */